@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: auto;
    padding: 0;
  background-color: #000;
  
}
body{
    /* font-family: 'Proxima Nova', sans-serif; */

}
@media (min-width: 768px) {
  ::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #122834;
}
}